<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('main.home') }}">Fakebook - Jan</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.home') }}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.contact') }}">Contact</a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Shop</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="{{ url_for('shop.home') }}"
            >Products</a
          >
          <a class="dropdown-item" href="{{ url_for('shop.cart') }}">
            Cart
            <span class="float-right">
              <span class="badge badge-secondary bg-lg"
                ></span
              >
            </span>
          </a>
          <a class="dropdown-item" href="#">Checkout</a>
        </div>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav m1-auto">
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
        <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('auth.register') }}" class="nav-link">Register</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
